version: '3.8'

services:
  arm_api2_ur:
    build:
      context: ../../ros2/jazzy/arm_api2_ur_robot
      dockerfile: Dockerfile
      args:
        INSTALL_GAZEBO: "yes"
        LEROBOT_PY: "yes"
        LEROBOT_ROS: "yes"
        USE_UR_ROBOT: "yes"
      ssh:
        - default
    image: ros2_armapi2_ur:jazzy
    container_name: ros2_armapi2_ur_cont
    stdin_open: true
    tty: true
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - SSH_AUTH_SOCK=/ssh-agent
      - TERM=xterm-256color
    volumes:
      - /dev:/dev
      - /tmp/.x11-unix:/tmp/.x11-unix
      - ${HOME}/.ssh/ssh_auth_sock:/ssh-agent
    command: /bin/bash

  mediapipe:
    build:
      context: ../../ros2/jazzy/mediapipe
      dockerfile: Dockerfile
      ssh:
        - default
    image: ros2_mp:jazzy
    container_name: ros2_mp_cont
    stdin_open: true
    tty: true
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - SSH_AUTH_SOCK=/ssh-agent
      - TERM=xterm-256color
    volumes:
      - /dev:/dev
      - /tmp/.x11-unix:/tmp/.x11-unix
      - ${HOME}/.ssh/ssh_auth_sock:/ssh-agent
    command: /bin/bash
